<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd" >

<suite name="Suite1" verbose="1" >
    <test name="PlaceLab Login test" >
        <classes>
            <class name="org.aldinrizvo.qamp.API_Homework2.Task2.Tests.LoginWithValidCredentialsTest" />
            <class name="org.aldinrizvo.qamp.API_Homework2.Task2.Tests.LoginWithInvalidEmailTest" />
            <class name="org.aldinrizvo.qamp.API_Homework2.Task2.Tests.LoginWithInvalidPasswordTest" />
            <class name="org.aldinrizvo.qamp.API_Homework2.Task2.Tests.LoginWithEmptyEmailFieldTest" />
            <class name="org.aldinrizvo.qamp.API_Homework2.Task2.Tests.LoginWithEmptyPasswordFieldTest" />
        </classes>
    </test>
</suite>
